<!DOCTYPE html>

<html>

<head>

   <title> Memory game </title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style6.css') }}">

</head>

<body>

<div id="header">
<h3>Memory game</h3>

</div>

<div id="navbar">

   <ul>
   <li>
    <form action="/level" method="POST">
        <input type="radio" name="level" value="easy" > 4x4<br>
        <input type="radio" name="level" value="hard" checked> 6x6<br>
        <input type="submit" value="Submit">
    </form>
   </li> 

</div>

</body>

</html>
