<!DOCTYPE html>

<html>

<head>

   <title> Memory game </title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div id="header">
<h3>Memory game</h3>

</div>

<div id="navbar">
   <form action="/level" method="POST">
   <ul>
       <li> Choose level: </li>
        <li> <input type="radio" name="level" value="hard" checked> 6x6</li>
        <li> <input type="radio" name="level" value="easy" > 4x4 </li>
   <li> <input type="submit" value="Play"></li> 
   </form>
</div>

</body>

</html>
