<!DOCTYPE html>

<html>

<head>

   <title> Memory game </title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div id="header">
<h3>Memory game</h3>
</div>

    <div class="main">

        <table border=1 align=center >
            {% for row in range(rows) %}
                <tr>   
                    {% for cell in range(rows) %}
                        <td> <a href="/click/{{ rows*row+cell }}" > <img src={{ url_for("static", filename=(table[rows*row+cell][:-1]|string)+'.jpg' ) }} width={{ size }} height= {{ size }} > </a> </td>
                   {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
        
    <div class="sideright">
    <!-- <form action="/" method="post">
        <input type="submit" value="continue" id="continue" name="continue"> 
        <p> {% if first_guess %}
            Second guess
            {% else %}
            First guess 
            {% endif %}
        </p> -->
        <h2> {{ message }} </h2>
        <p> First guess: {{ first_guessed_animal }} </p>
        <p> Second guess: {{ second_guessed_animal }} </p>
    </div>

    <div class="sideright">
        <h2> Found:</h2>
        <p> {{ found }} </p>
    </div>

    <!-- </form> -->
    </div>

</body>

</html>
