<!DOCTYPE html>

<html>

<head>

    <title>My first web page</title>

    <!-- This is a comment, by the way -->

</head>

<body>

<h1>My first web page</h1>

</body>

</html>

<!--
<!DOCTYPE html>

<html>

<head>

    <title> Memory game </title>

</head>

<body>

    <h1>Memory game</h1>


    <form>
        <table border=1 >      
                {% for row in range(rows) %}
                    <tr>   
                        {% for cell in range(rows) %}
                            <td> - </td>  <!-- {{ table[rows*row + cell] }}  <img src={{ url_for("static", filename={{ table[rows*row + cell] }} ) }} width="128" height="128">  -->   
                        <!-- {% endfor %}
                    </tr>
                {% endfor %}
        </table>
    </form>

    <form action="/" method="post">
        <input type="submit" value="continue" id="continue" name="continue">
    </form>
-->